/*Establish properties and values that will be universal*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

/*set font and background colors of <header>*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

/*set display and font size for Horiseon title*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changes color of "seo" within Horiseon*/
header .seo {
    color: #d9dcd6;
}

/*sets font, spacing, and position of elements in <nav> bar*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #ffffff;
}

/*removes dots from list items in <nav> bar*/
header ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

/*establishes font size for text within <Header> and <Body>*/
p {
    font-size: 16px;
}

/*displays background image at the top of the page*/
.hero {
    height: 800px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*sets the background and font color of webpage*/
body {
    background-color: #d9dcd6;
    color: #ffffff;
}

/*establish margin and font size of the <main> section within webpage*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

/*moves articles in main to the left*/
.content .float-left {
    float: left;
    margin-right: 25px;
}

/*moves articles in main to the right*/
.content .float-right {
    float: right;
    margin-left: 25px;
}

/*establish font, spacing, and background color of each article within main*/
.content_item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/*sets the size of each image within main*/
.content img {
    max-height: 200px;
}

/*set font size and margin of headers within main*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*set margin, spacing, position, font, and color of <aside>*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*sets spacing beneath each paragraph in <aside>*/
.benefits p {
    margin-bottom: 32px;
}

/*sets position and size for each icon in <aside>*/
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*positions the headings in <aside>*/
.benefits h3 {
    text-align: center;
}

/*assign font, position, and font color to <footer>*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

/*sets font size of <h2> within <footer>*/
footer h2 {
    font-size:20px;
}
